body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
	width: 30%;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group .btn {
    z-index: unset !important;
}

input[type="number"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.btn {
    padding: 10px 20px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
}

.btn:hover {
    background: #e65c00;
}

a.btn {
    margin: 0 5px;
}

.header-row {
	display: flex;
	background-color: #f4f4f4;
	padding: 10px;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 10px;
}