/* @font-face{
    font-family: 'free3of9';
    src:url('FREE3OF9.TTF') format('truetype'); 
} */
body {
    font-family: "Hanken Grotesk", sans-serif;
    margin: 0;
    /* padding: 20px; */
    background-color: #fff;
    box-sizing: border-box;
}

.padding-40 {
    padding: 40px;
}

.container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.left-section {
    height: 90vh; /* Full viewport height */
    overflow-y: auto; /* Make each section independently scrollable */
}

.right-section {
    height: 70vh;
    overflow-y: auto; /* Make each section independently scrollable */
}
.invoice-header, .invoice-details, .invoice-summary, .invoice-actions {
    margin-bottom: 20px;
}

.invoice-header h1 {
    margin-bottom: 20px;
}

.invoice-header div, .invoice-summary div {
    margin-bottom: 10px;
}

.invoice-header label, .invoice-summary label {
    display: inline-block;
    width: 100px;
}

.invoice-header input, .invoice-header select, .invoice-summary input {
    padding: 5px;
    width: calc(100% - 110px);
}

.invoice-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.invoice-details th, .invoice-details td {
    border: 1px solid #dddddd;
    padding: 0px;
    text-align: left;
}

.invoice-details th {
	padding: 4px 8px;
}

.invoice-actions button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #6121ad;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.invoice-actions button:hover {
    background-color: #b18bdf;
}

.price, .qty {
	width: 50px;
}

.product_autocomplete {
	position: relative;
}

.product_autocomplete_list {
	position: absolute;
	z-index: 1;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style: none;
	user-select: none;
	-moz-user-select: none;
	--webkit-user-select: none;
	font-size: 14px;
}

.product_autocomplete_list li {
	border: solid 1px #afafaf;
	padding: 5px 10px;
	background-color: #fff;
}

.product_autocomplete_list li:hover {
	background-color: #efefef;
}

.product_autocomplete_list li:active {
	background-color: #b18bdf;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

#invoice_table input {
    width: 100%;
    border: none;
}

.align-right {
     text-align: right;
}

.align-center {
    text-align: center !important;
}

select {
    height: 30px;
}


.row {
    margin: 0px !important;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pt40 {
    padding-top: 40px;
}

.pr40 {
    padding-right: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl40 {
    padding-left: 40px;
}

.border-1 {
    border: solid 1px #a7a7a7;
}

.invoice-card {
    border: solid 1px #a7a7a7;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: #444;
    font-weight: 500;
    font-size: 12px;
}

.invoice-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter {
    font-size: 10px;
}

.invoice-card-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bar-code
{
    font-family: 'Free 3 of 9';
    font-size: 20px;
    font-weight: 400;
}

.active {
	background-color: #5e4293;
    color: #fff;
}

.margin-bottom-5 {
    margin: 5px !important;
}

.hide {
    display: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #6121ad !important;
    border-color: #6121ad !important;
}